/* hide scroll on .cool-scroll if mouse not hovering inside */
.cool-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}
.cool-scroll::-webkit-scrollbar
{
    width: 6px;
    opacity: 0;
}

.cool-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(80, 80, 80, 0.3);
}

.cool-scroll:hover::-webkit-scrollbar
{
    opacity: 1;
}

.cool-scroll::-webkit-scrollbar-thumb
{
    background-color: #686868;
}

ul.list-group {
    background-color: #f5f5f5;
}

ul.list-group li:hover {
    background-color: #e8e8e8;
}

.theme-dark ul.list-group {
    background-color: #262631;
}

.theme-dark ul.list-group li:hover {
    background-color: #3a3a3a66;
}

.btn-remove-from-list {
    top: 6px;
    position: absolute;
    font-size: 17px;
    right: -7px;
    transform: scale(0.6);
}

.anjay-effect {
    animation: zoom-inandout 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@keyframes zoom-inandout {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}


.context-menu{
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
}

.context-menu ul{
    list-style: none;
    padding: 2px;
}

.context-menu ul li{
    padding: 5px 2px;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
    background-color: darkturquoise;
}

.context-menu ul li:hover{
    cursor: pointer;
    background-color: #7fffd4;
}

.garis-pemisah-custom {
    border-bottom: 1px #dbdbdb solid;
}

.theme-dark .garis-pemisah-custom {
    border-bottom: 1px #3a3a3a solid;
}
