/* hide scroll on .cool-scroll if mouse not hovering inside */
.cool-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}
.cool-scroll::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
}

.cool-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(80, 80, 80, 0.3);
}

.cool-scroll:hover::-webkit-scrollbar {
    opacity: 1;
}

.cool-scroll::-webkit-scrollbar-thumb {
    background-color: #686868;
}

ul.list-group {
    background-color: #f5f5f5;
}

ul.list-group li:hover {
    background-color: #e8e8e8;
}

.theme-dark ul.list-group {
    background-color: #262631;
}

.theme-dark ul.list-group li:hover {
    background-color: #3a3a3a66;
}

.btn-remove-from-list {
    top: 6px;
    position: absolute;
    font-size: 17px;
    right: -7px;
    transform: scale(0.6);
}

.anjay-effect {
    animation: zoom-inandout 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@keyframes zoom-inandout {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}

.context-menu {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
}

.context-menu ul {
    list-style: none;
    padding: 2px;
}

.context-menu ul li {
    padding: 5px 2px;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
    background-color: darkturquoise;
}

.context-menu ul li:hover {
    cursor: pointer;
    background-color: #7fffd4;
}

.garis-pemisah-custom {
    border-bottom: 1px #dbdbdb solid;
}

.theme-dark .garis-pemisah-custom {
    border-bottom: 1px #3a3a3a solid;
}

#pasien-terlayani-wrapper {
    position: fixed;
    right: 0;
    top: 85px;
    overflow-y: scroll;
    height: 80%;
    z-index: 5;
    box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px,
        rgb(9 30 66 / 8%) 0px 0px 0px 1px;
}

#pasien-terlayani-wrapper.hide {
    right: -400px;
}

#toggle-patient-done-list {
    position: fixed;
    z-index: 5;
    top: 50%;
    transform: translateX(-24px);
    transition: all 0.5s ease-in-out;
}

#toggle-patient-done-list::after {
    font-family: "bootstrap-icons";
    content: "\f285";
}

#pasien-terlayani-wrapper.hide #toggle-patient-done-list {
    transform: translateX(-68px);
    transition: all 0.5s ease-in-out;
}

#pasien-terlayani-wrapper.hide #toggle-patient-done-list::after {
    font-family: "bootstrap-icons";
    content: "\f284";
}

.info-pasien {
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    padding: 13px;
    margin-bottom: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 13px;
}

.theme-dark #form-konsultasi > div > div.ck.ck-editor__top.ck-reset_all > div > div.ck.ck-sticky-panel__content > div {
    background: #1e1e2a;
    border-color: #47475840;
}

.theme-dark .ck-rounded-corners .ck.ck-button, .ck-rounded-corners a.ck.ck-button, .ck.ck-button.ck-rounded-corners, a.ck.ck-button.ck-rounded-corners {
    color: white;
}

.theme-dark #form-konsultasi > div > div.ck.ck-editor__main > div {
    background: #1e1e2a;
    border-color: #47475840;
}

.theme-dark .ck.ck-button.ck-on, a.ck.ck-button.ck-on {
    background-color: #5c5c5c;
}

.theme-dark .ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover {
    background: #343a40;
}

.theme-dark .ck.ck-button.ck-on:not(.ck-disabled):hover, a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    background: #5555559e;
}

.theme-dark .ck.ck-list {
    background: #1e1e2d;
}

.theme-dark .ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background: #343a40;
}


.page-heading {
    margin: 0 2rem !important;
    flex: 1 0 auto;
}

#main-content {
    padding: 0 2rem !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    height: 100%;
}

body {
    height: 100vh;
}
